#echofocus_mini/
#video_pretraining/
#text_pretraining/
#text_decoder/
#Echo_Video_Embeddings
#Line_Embeddings/
#Line_Embeddings_v2/
env/
logs/
__pycache__/
*.npz
*.np
*.pt
*.hdf5
*.h5
*.csv
*.png
*.xlsx
*.avi
*.txt
*.json
*.out
*.err
*.npy
*jsonl
